<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Artist</title>
    <style>
        div {
            margin: 50px;
        }
        form {
            margin-left: 20px;
        }
        #inp {
            margin-left: 70px;
        }
        select {
            margin-left: 70px;
        }
        button {
            background-color: #0059ff; /* Green */
            border: none;
            color: white;
            padding: 5px 22px;
            /* padding: 15px 32px; */
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 15px;
            border: 1px solid black;
            border-radius: 5px;
        }
        button:hover {
            background-color: white;
            color: black;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <a href="/add-new-songs"><h2>Go back</h2></a>
    <h1>Add New Artist</h1>
    <form action="/add-new-songs" method="post">
        <div class>
            <label>Artist Name</label>
            <input type="text" name="artistName" id="inp">
        </div>
        <div>
            <label>Date of Birth</label>
            <input type="date" name="dob" id="inp">
        </div>
        <div>
            <label>Bio</label>
            <textarea name="bio" id="" cols="30" rows="10" id="inp"></textarea>
        </div>

        <button type="submit">ADD</button>
    </form>
</body>
</html>