<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Songs</title>
    <style>
        div {
            margin: 50px;
        }
        form {
            margin-left: 20px;
        }
        #inp {
            margin-left: 70px;
        }
        select {
            margin-left: 70px;
        }
        button {
            background-color: #0059ff; /* Green */
            border: none;
            color: white;
            padding: 5px 22px;
            /* padding: 15px 32px; */
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 15px;
            border: 1px solid black;
            border-radius: 5px;
        }
        button:hover {
            background-color: white;
            color: black;
            border: 1px solid black;
        }
    </style>

</head>
<body>
    <a href="/"><h1>Go to Home</h1></a>
    <h1>Adding a new Song</h1>

    <form action="/" method="post">

        <div class>
            <label>Song Name</label>
            <input type="text" name="songName" id="inp">
        </div>
        <div>
            <label>Date Released</label>
            <input type="date" name="dor" id="inp">
        </div>
        <div>
            <label for="image">Upload Image</label>
            <input type="file" id="image" 
                       name="image" value="" required>
            <!-- <label>Artwork</label>
            <input type="file" id="image" 
                       name="image" value="" id="inp"> -->
            <!-- <input type="file" name="image" id="inp"> -->
        </div>
        <div>
            <label>Artists</label>
            <!-- <input type="radio" name="" id="inp"> -->
            <!-- <label for=""><input type="checkbox" name="" id=""></label> -->
            <select name="artistName" id="cars" multiple>
                <% for(let i=0; i<Math.min(artists.length, 10); i++) {%>
                    <option value="<%= artists[i].name %>"> <%= artists[i].name %> </option>
                <!-- <option value="Saurav">Saurav</option>
                <option value="Abhishek">Abhishek</option>
                <option value="Vinay">Vinay</option> -->
                <% } %>
            </select>

            <a href="/add-new-artist">Add New Artist</a>
              <!-- <input type="checkbox" value="My checkbox label value" /> -->
        </div>
        <div>
            <label>Rating</label>
            <input type="text" name="rate" id="inp" min="0" max="5">
        </div>
        
        <button type="submit">ADD</button>

    </form>
</body>
</html>

